* {
    user-select: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.greet {
    width: 100%;
    height: 100vh;
    background-color: white;
    font-weight: 1000;
    font-size: 25px;
    padding:10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.greet-text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.ask {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.ask .question {
    text-align: center;
    font-weight: 1000;
    font-size: 25px;
}

.ask .button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.ask .button .cancle {
    background-color: black;
    padding: 10px 15px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: white;
}

.ask .button .yes-button {
    background-color: white;
    padding: 10px 15px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.text {
    font-weight: bold;
}

.grade-page {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.grade-but {
    border: 2px solid rgb(37, 37, 37);
    padding: 10px 15px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.calco {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.snake-text {
    font-weight: 900;
    font-weight: bold;
    letter-spacing: 2px;
    color: rgb(20, 20, 20);
}