* {
    user-select: none;
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}